.camperCard {
  display: flex;
  flex-direction: row;
  padding: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  gap: 24px;
  /* width: 888px; */
  /* height: 358px; */
}

.containerImg {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;

  /* width: 100%; */
  width: 290px;
  height: 310px;

  border-radius: 10px;
  overflow: hidden;

  background: url('/public/images/no-image-icon-23494.png') no-repeat center; /* Запасне зображення */
  /* background-repeat: no-repeat;
  background-position: center; */

  background-color: var(--button);
  /* vertical-align: middle; */
  background-size: cover;
}

.containerImg > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: 526px;
}

.title {
  display: flex;
  padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  gap: 29px;
}
.title > h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  font-size: 24px;
  /* line-height: 30px; */
  line-height: 125%;
  color: var(--main);
}

.camperCard h2 {
  display: flex;
  color: var(--main);
  line-height: 1.25;
}

.cardInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.cardPrice {
  font-weight: 600;
  font-size: 24px;
  color: var(--main);
  line-height: 30px;
}

.favoriteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.favoriteButton:hover,
.favoriteButton:focus {
  background: none;
}

/* Колір іконки default стану */
.favoriteButton svg {
  transition: fill 0.3s ease;
  fill: transparent;
  stroke: var(--main);
}

/* Колір іконки active стану */
.favoriteButton svg.favorite {
  fill: var(--button);
  stroke: var(--button);
}

.containerInfo {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.wraper {
  color: var(--main);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wraper::before {
  position: absolute;
  content: '';
  display: block;
  width: 103px;
  height: 1.5px;
  background-color: var(--main);
  margin-bottom: -1.3rem;
  margin-left: 1.3rem;
}
.wraper:hover::before {
  background-color: #535bf2;
}
.cardRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.cardLocation {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--main);
}

.camperCard p {
  width: 100%;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 24px;
}

.listOptions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.listItems {
  border: none;
  border-radius: 100px;
  padding: 12px 18px;
  background: var(--block-features);
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--main);
  font-weight: 500;
  line-height: 20px;
}

.cardBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  background: var(--button);
  border-radius: 200px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.cardBtn:hover,
.cardBtn:focus {
  background-color: #d84343;
}
